.light{
    background-color: aquamarine;
    color: black;
}
.dark{
    background-color: #000b47;
    color: white;
}
.lightbot{
    background-color:#000b47 ;
    color: white;
    font-family:  'Teko', sans-serif;
}
.darkbot{
    background-color: aquamarine;
    font-family:  'Teko', sans-serif;
}
.header button:active{
    outline: none;
}
.header button{
    border: 1px black solid;
    border-radius: 5px;
    margin-right: 30px;
    font-size: 25px;

}
#container{
    display: flex;
    justify-content:center;
    flex-flow: column wrap;
    align-items: center;
    position: absolute;
    width: 100%;

}
.header{
    font-size: 4em;
    background-color: #b5121b;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 101%;
    margin-left:-14px;
    color: white;
    margin-bottom: 20px; 
}
.search{
    width: 230px;
    padding: 3px 0px 3px 0px;
    border: solid black 1px;

}
.searchIcon{
    padding: 3px;
    background-color: white;
    color: black;
}
.card{
    border: solid 2px black;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: column;
    width: 230px;
}
.searchcontent button{
    border: solid 1px black;
    background-color: #ffffff;
}
#image{
    border-bottom: solid black 1px;
}
.lightbot:hover{
    background-color: #000000;
}
.darkbot:hover{
    background-color: white;
}
body{
    background-image: url('https://sfwallpaper.com/images/pokemon-mobile-wallpaper-27.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
}